<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_l10n_ma_tva_ras_root" name="Télédéclarations EDI" parent="account.menu_finance" sequence="120"/>
    <menuitem
        id="menu_l10n_ma_tva_ras_declarations"
        name="Déclarations TVA RAS Maroc"
        parent="menu_l10n_ma_tva_ras_root"
        action="action_tva_ras_declaration"
        sequence="10"
    />
    <menuitem
        id="menu_l10n_ma_tva_ras_wizard"
        name="Nouvelle Déclaration TVA RAS"
        parent="menu_l10n_ma_tva_ras_root"
        action="action_tva_ras_wizard"
        sequence="20"
    />
</odoo>
